:root {
    --text-color: #fff;
    --back-color: #e84509;
}


.noto-sans-jp-<noto> {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

body {
    color: var(--text-color);
    background-color: var(--back-color);
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}
