:root {
    --text-color: #f8a;
    --back-color: #fff;
}


.noto-sans-jp-<noto> {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

body {
    color: var(--text-color);
    background-color: var(--back-color);
    width: 100%;
    padding: 50px;
    margin: 0 auto;
}
