:root {
    --text-color: #f8a;
    --back-color: #fff;
}


body {
    color: var(--text-color);
    background-color: var(--back-color);
    font-family: serif;
    width: 100%;
    padding: 50px;
    margin: 0 auto;
}
