body {
  padding: 0 0;
  margin: 0 0;
  font-family: "Zen Maru Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #444444;
  background: #ffffff;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title-logo {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  color: #FF9999;
}

