:root {
    --text-color: #fff;
    --back-color: #e84509;
}


.noto-sans-jp-<noto> {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.logo {
  padding: 10px 0;
}
.multi_column {
  display: flex;
  margin-top: 20px;
}
.menu {
  flex: 3;
  min-height: 200px;
  margin-right: 20px;
}
.content {
  flex: 1;
  position: relative;
  padding-top: 40px;
  text-align: center;
}

body {
    color: var(--text-color);
    background-color: var(--back-color);
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}
